* {
    background-color: rgb(179, 171, 71);
    padding: 50;
    margin: 30;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    padding: 20px;
    margin: 70 auto;
    display: flex;
    justify-content: center;
    font-size: x-large;
}