{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/main.css' %}" />
    {% if title %}
    <title>Gas N Go || {{ title }}</title>
    {% else %}
    <title>Gas N Go</title>
    {% endif %}
  </head>
  <body>
  <div class="header" id="header">
		<div class= "nav-bar">
			<div class="logo">
				<a href="#">gas & go</a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="#">about</a></li>
					<li><a href="#">login</a></li>
					<li><a href="#">contact us</a></li>
					<li><a href="#">Reviews</a></li>
					<li><a href="#">i am masruf zaman</a></li>

				</ul>
			</div>
	</div>
    {% block content %}{% endblock %}
  </body>
</html>
