{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ! Links -->
    <!-- * css link -->
    <link rel="stylesheet" href="{% static 'home/main.css' %}" />

    <!-- * icons link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- * Fonts link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- ! Links -->

    {% if title %}
    <title>Gas N Go || {{ title }}</title>
    {% else %}
    <title>Gas N Go</title>
    {% endif %}
  </head>
  <body>
    <!-- *Header start -->
    <header class="topbar">
      <div class="container flex justify-between items-center">
        <div class="icons">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-google"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-search"></i></a>
        </div>
        <div class="auth flex items-center">
          <div>
            <i class="fas fa-users"></i>
            <!-- TODO: Add login page link -->
            <a href="">Log in</a>
          </div>
          <span class="divider">|</span>
          <div>
            <i class="fas fa-user-plus"></i>
            <!-- TODO: Add Ragistration page link -->
            <a href="">Register Now</a>
          </div>
          <span class="divider">|</span>
          <div>
            <i class="fas fa-shopping-cart"></i>
            <!-- TODO: Add Payment page link -->
            <a href="">0 Items - ($0.00)</a>
          </div>
        </div>
      </div>
    </header>
    <!-- *Header end -->

    <!-- *Navbar Start -->
    <!-- *Top-nav Start -->
    <div class="top">
      <div class="container flex justify-between">
        <div class="contact flex items-center">
          <i class="fas fa-phone-alt"></i>
          <div>
            <h5>Call Us: (+880) 17 93798 719</h5>
            <h6>E-main: masruf.jaman@northsouth.edu</h6>
          </div>
        </div>
        <!-- !Logo -->
        <div class="branding">
          <!-- TODO: Make Branding logo -->
          <img src="" alt="" />
        </div>
        <div class="time flex items-center">
          <i class="far fa-clock"></i>
          <div>
            <h5>Working Hours:</h5>
            <h6>Mon - Sat (08.00AM - 10.00PM)</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- *Top-nav End -->
    <!-- *Navbar End -->

    {% block content %}{% endblock %}

    <!-- * Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row flex">
          <div class="footer-col-1">
            <h3>Download our app</h3>
            <p>Download App for android & ios mobile phone.</p>
            <div class="app-logo">
              <img src="{% static "home/images/play-store.png" %}" alt=""> <img
              src="{% static "home/images/app-store.png" %}" alt="">
            </div>
          </div>
          <div class="footer-col-2">
            <img src="" alt="" />
            <p>Our Purpose Is To Sustainable Make the pleasure.</p>
          </div>
          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Membership</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />

        <p class="copyright">
          <i class="fa fa-copyright"></i> Copyright 2021-2022 |
          <strong style="color: #eebf00">Gas N Go</strong>
        </p>
      </div>
    </div>
    <!-- * Footer End -->
  </body>
</html>
