{% extends "home/base.html" %} {% load static %}

<!-- *Content Start -->
{% block content %}
<!-- !Links -->
<!-- * css link -->
<link rel="stylesheet" href="{% static 'home/styles/home.css' %}" />

<!-- * icons link -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- !Links -->
<!-- Title Start -->
<div class="container">
  <div class="row flex justify-center">
    <div class="section_title">
      <h2>Our Features</h2>
      <div class="brand_border">
        <i class="fa fa-minus" aria-hidden="true"></i>
        <i class="fas fa-car"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <p>
        We sell the parts of the vehicles We provide the booking of Oil/Gas from
        the filling station to save time also provide servicing
      </p>
    </div>
  </div>
</div>
<!-- Title End -->

<div class="container_two">
  <div class="box">
    <div class="icon">
      <i class="fas fa-tools"></i>
    </div>
    <div class="content">
      <a href="{% url 'services-service' %}"><h3>Service Centre</h3></a>
      <p>
        We have sufficient amount of workers who are ready to serve you for your
        vehicles
      </p>
    </div>
  </div>
  <div class="box">
    <div class="icon">
      <i class="fas fa-gas-pump"></i>
    </div>
    <div class="content">
      <a href="{% url 'load-items' %}"><h3>Load Oil/Gas</h3></a>
      <p>
        To save consumers valuable time, we take booking to refill Oil/Gas at
        any filling station
      </p>
    </div>
  </div>
  <div class="box">
    <div class="icon">
      <i class="fas fa-store-alt"></i>
    </div>
    <div class="content">
      <a href="{% url 'eStore-items' %}"><h3>Parts Store</h3></a>
      <p>We sell the parts of any brand's vehicles at reasonable price</p>
    </div>
  </div>
</div>
{% endblock content %}
<!-- *Content End -->

<!-- *Brands Start -->
{% block brands %}
<!-- !Link -->
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}" />
<link rel="stylesheet" href="{% static 'home/styles/home.css' %}" />
<!-- !Link -->

<!-- Title Start -->
<div class="container">
  <div class="row flex justify-center">
    <div class="section_title">
      <h2>Our Partners</h2>
      <div class="brand_border">
        <i class="fa fa-minus" aria-hidden="true"></i>
        <i class="fas fa-ring"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <p>
        Here are our business partners who help to grow the business and
        maintain the quality
      </p>
    </div>
  </div>
</div>
<!-- Title End -->

<div class="brands">
  <div class="small-container">
    <div class="row flex justify-center">
      <div class="col-brands">
        <a href=""
          ><img src="{% static 'home/images/logo-castrol.png' %}" alt=""
        /></a>
      </div>
      <div class="col-brands">
        <a href=""
          ><img src="{% static 'home/images/logo-lucas.png' %}" alt=""
        /></a>
      </div>
      <div class="col-brands">
        <a href=""
          ><img src="{% static 'home/images/logo-shell.png' %}" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
{% endblock brands %}
<!-- *Brands End -->
