* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./images/pexels-pixabay-248747.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.profile-card {
    width: 516px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    background: #ffffffd9;
    border-radius: 10px;
    opacity: 0.98;
    font-weight: 800;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 29%;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 190px;
    height: 152px;
}

.title {
    position: absolute;
    left: 183px;
    top: 170px;
    font-size: 17px;
    font-weight: 700;
    color: #292525;
    text-shadow: #FC0 1px 0 10px;
}

.main-container {
    padding: 32px 20px 20px 20px;
}

.info {
    color: black;
    margin-right: 16px;
    padding: 14px;
}

.skills {
    background-color: green;
    border-radius: 16px;
    opacity: 0.45;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar {
    padding: 0.05rem 12px;
    border-radius: 16px;
    text-align: center;
    color: white;
    background-color: blue;
    opacity: 1;
}

.btn {
    padding: 10px;
    margin-top: 9px;
    margin-bottom: 8px;
    background-color: #1b1b16;
    color: white;
    width: 65px;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 12px;
}

.about {
    border: 2px solid gray;
    border-radius: 7px;
    margin-left: 12px;
    display: none;
}

.about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 4px;
}

.about p {
    padding: 12px;
    margin-top: 0px;
    margin-left: 13px;
    font-family: 'Lobster', cursive;
    font-size: 17px;
}

.about h3 {
    margin-left: 14px;
    text-decoration: underline;
}

.btn:hover {
    background-color: #39524d;
}

.follow p {
    color: black;
    font-size: 18px;
}

.social-media {
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-facebook {
    background: #034ce6;
    color: white;
    border-radius: 50%;
    padding: 12px;
}

.fa-twitter {
    background: #0878ce;
    color: white;
    border-radius: 50%;
    padding: 12px;
}

.fa-instagram {
    background: #d0092f;
    color: white;
    border-radius: 50%;
    padding: 12px;
}

.fa-youtube {
    background: #d20606;
    color: white;
    border-radius: 50%;
    padding: 12px;
}

.fab:hover {
    opacity: 0.7;
    cursor: pointer;
}

.checked {
    color: rgb(204, 174, 41);
}