{% extends "home/base.html" %} {% load static %}
<link
  rel="stylesheet"
  href='{%
static "services/styles/service.css" %}'
/>
<script src="https://unpkg.com/flickity@2.0.11/dist/flickity.pkgd.min.js"></script>
{% block checkbox %}
<div class="container">
  <h3>Which Services do you Want ?</h3>
</div>
<div class="container">
  <form>
    <input type="checkbox" id="service-1" name="service-1" value="Car Wash" />
    <lebel for="service1">Car Wash</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-2" name="service-2" value="Kerosene" />
    <lebel for="service2">Kerosene</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-3" name="service-3" value="Diesel" />
    <lebel for="service3">Diesel</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-4" name="service-4" value="Octane" />
    <lebel for="service4">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-5" name="service-5" value="Octane" />
    <lebel for="service5">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-6" name="service-6" value="Octane" />
    <lebel for="service6">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-7" name="service-7" value="Octane" />
    <lebel for="service7">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-8" name="service-8" value="Octane" />
    <lebel for="service8">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-9" name="service-9" value="Octane" />
    <lebel for="service9">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-10" name="service-10" value="Octane" />
    <lebel for="service10">Octane</lebel> &nbsp; &nbsp;
  </form>
</div>
{% endblock checkbox %} {% block slider %}
<div class="container">
  <div class="carousel-wrapper">
    <div class="carousel" data-flickity>
      <div class="carousel-cell">
        <h3>Petrol Pump 1</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Uttara</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 2</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Dhanmondi</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 3</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Kakrail</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 4</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Mirpur</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 5</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Malibagh</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 6</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Bashundhara</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 7</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Banani</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 8</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Gulshan</span>
        </div>
      </div>
      <div class="carousel-cell">
        <h3>Petrol Pump 9</h3>
        <a class="more" href="#">Explore More</a>
        <img src='{% static "services/images/pic.jpg" %}' />
        <div class="line"></div>
        <div class="price">
          <span><sup></sup>Badda</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock slider %}
