{% extends "home/base.html" %} {% load static %} {% block content %}
<div class="container">
  <h3>Which Services do you Want ?</h3>
</div>
<div class="container">
  <form>
    <input type="checkbox" id="service-1" name="service-1" value="Car Wash" />
    <lebel for="service1">Car Wash</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-2" name="service-2" value="Kerosene" />
    <lebel for="service2">Kerosene</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-3" name="service-3" value="Diesel" />
    <lebel for="service3">Diesel</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-4" name="service-4" value="Octane" />
    <lebel for="service4">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-5" name="service-5" value="Octane" />
    <lebel for="service5">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-6" name="service-6" value="Octane" />
    <lebel for="service6">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-7" name="service-7" value="Octane" />
    <lebel for="service7">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-8" name="service-8" value="Octane" />
    <lebel for="service8">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-9" name="service-9" value="Octane" />
    <lebel for="service9">Octane</lebel> &nbsp; &nbsp;

    <input type="checkbox" id="service-10" name="service-10" value="Octane" />
    <lebel for="service10">Octane</lebel> &nbsp; &nbsp;
  </form>
</div>
{% endblock content %}
